<footer>
  <p>Sustainable Beauty Brand Directory</p>
  <nav>
    <a href="/">Home</a>
    <a href="/browse">Browse brands</a>
    <a href="/submit">Submit a brand</a>
  </nav>
</footer>
</body>
</html>
